<div class="jumbotron animated fadeIn">
    <h1 class="display-4">Hero App</h1>
    <p class="lead">Está es un aplicación SPA de héroes de Marvel y DC.</p>
    <hr class="my-4">
    
    <p></p>

    <ul class="list-group">
        <li class="list-group-item">Componentes mediante CLI.</li>
        <li class="list-group-item">Varias formas de usar bootstrap.</li>
        <li class="list-group-item">Rutas Paramétrizadas.</li>
        <li class="list-group-item">Router Link.</li>
        <li class="list-group-item">Servicio (Proveedores).</li>
        <li class="list-group-item">Eventos de angular.</li>
        <li class="list-group-item">Directivas Estructurales.</li>
      </ul>

    <a class="btn btn-primary btn-lg" [routerLink]="['/home']" role="button">Ir a Home</a>
  </div>